/target
/pkg
Cargo.lock
/dist
/live_help/translated
install/hdlregisterwizard.wixpdb
install/hdlregisterwizard.wixobj
install/hdlregisterwizard.msi
install/hdlregisterwizard-user.wixpdb
install/hdlregisterwizard-user.wixobj
install/hdlregisterwizard-user.msi
.flatpak-builder
repo
*.flatpak
