.ext-sticky {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    height: calc(100vh - 6.25rem);
    overflow-y: auto;
  }

.page-title {
  margin-top: 1em;
  text-align: center;
}

.ext-buttons-in-table {
  justify-content: flex-end;
}

input:invalid {
  color: red;
  background-color: pink;
}

.ext-vector-field {
  max-width: 8em;
}

.ext-bitfield-table {
  width: 100%;
  table-layout: fixed;
}

.ext-bitfield-header {
  text-align: right;
  margin-right: 2px;
}

.ext-bitfield-cell {
  width: 100%;
}

.ext-bitfield-contents {
  margin: 1px;
}
