/* remove the Segoe UI font from the list, which looks weird for titles */
:root {
  --bulma-family-primary: Inter, SF Pro, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
  --bulma-family-secondary: Inter, SF Pro, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.ext-sticky {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    height: calc(100vh - 6.25rem);
    overflow-y: auto;
  }

.page-title {
  margin-top: 1em;
  text-align: center;
}

.ext-buttons-in-table {
  justify-content: flex-end;
}

input:invalid {
  color: red;
  background-color: pink;
}

.ext-vector-field {
  max-width: 8em;
}

.ext-bitfield-table {
  width: 100%;
  table-layout: fixed;
}

.ext-bitfield-header {
  text-align: right;
  margin-right: 2px;
}

.ext-bitfield-cell {
  width: 100%;
}

.ext-bitfield-contents {
  margin: 1px;
}

.ext-return-button {
  float: left;
}

.ext-notification {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden; 
  padding-top: 2em;
  background: transparent;
}

.ext-notification article {
  width: 50%;
}

.ext-livehelp {
  width: 30%;
}

.content pre {
  padding: 0
}

#maindiv:focus {
  outline: none
}

.ext-menuitem {
  display: flex;
  justify-content: space-between;
}

div.navbar-dropdown a.navbar-item {
  padding-inline-end: 1em;
}

a.navbar-item div {
  width: 100%;
}

.ext-menuicon {
  margin-right: 1em;
}

.ext-menukeybinding {
  margin-left: 2em;
}

.ext-menukeybinding i {
  margin-right: 0.3em;
}
